! Disable the scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! URxvt.font: xft:FiraCode Nerd Font Mono:size=9:antialias=true:style=Medium:hinting=true,\
!             xft:FreeSerif:style=Regular

! URxvt.font: xft:mononoki Nerd Font Mono:size=10:antialias=true,\
!             xft:FreeSerif:style=Regular

URxvt.font: xft:SourceCodePro Nerd Font Mono:size=9:antialias=true:style=Medium:hinting=true,\
            xft:FreeSerif:style=Regular

! URxvt.font: xft:DejaVuSansMono Nerd Font:size=9:antialias=true,hinting=true,\
!             xft:FreeSerif:style=Regular

! URxvt.font: xft:InconsolataGo Nerd Font Mono:size=11:antialias=true:style=Bold:hinting=true,\
!             xft:FreeSerif:style=Regular

URxvt.letterSpace: -1
URxvt.perl-ext-common: selection-to-clipboard,resize-font

! Cursor
URxvt.cursorBlink: true
URxvt.cursorColor: #bbbbbb
!URxvt.cursorUnderline: true
! URxvt*fadeColor: #002b36

URxvt*background: #111111
URxvt*foreground: #55fb00


! Redefine some keybindings for resize-font
URxvt.keysym.C-plus: resize-font:reset
URxvt.keysym.C-equal: resize-font:bigger

! Disable default Ctrl+Shift keybinding
URxvt.iso14755: false
URxvt.iso14755_52: false


! ??????
! URxvt.keysym.Shift-Control-V: eval:paste_clipboard
! URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
